body {
  margin: 0;
  overflow: hidden;
  background-color: #068aa3;
  background-image: linear-gradient(0deg, #068aa3 0%, #000000 45%);
}
canvas {
  display: block; /* Ẩn thanh cuộn của trang */
}
#my-popovr {
  width: 60%;
  height: 90%;
}
.phaohoa {
  position: relative;
  display: flex;
}
.tab-content {
  contain-intrinsic-block-size: AUTO 100px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
h1 {
  color: aliceblue;
  position: relative;
  text-align: center;
  font-size: 70px;
}
.tab-content button {
  width: 100px;
  height: auto;
}
.tab-content button:hover {
  background-color: #21d4fd;
  background-image: linear-gradient(20deg, #21d4fd 0%, #000000 100%);

  color: white;
}
